.image{
    width: 100%;
    height: 700px;
    overflow: hidden;
}

#image-with-text{
    width: 100%;
    height: auto;
}

#image-with-text img{
    filter: brightness(50%);
}

#image-with-text p{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}

#button-group-center{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);  
    display: flex;
    justify-content: center; 
    width: fit-content;
}

#button-group-center button{
    margin-left: 5%;
    margin-right: 5%;
    background-color: #827e7e;
    color: white;
    border: #827e7e;
    font-size: larger;
}

#test{
    width: 100%;
    min-height: 10%;
    height: 10%;
    max-height: 10%;
    overflow: hidden;
}

.two-grid{
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

#grid-image-gallery {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 50px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.image-overlay {
    width: 100%; 
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center; 
}

.image-overlay img{
    height: 100%;
    width: 100%;
}

#services-images{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#map iframe{
    width: 100%;
}

#review-image-container{
    background-image: url("https://www.shutterstock.com/shutterstock/photos/2474260779/display_1500/stock-photo-high-rise-buildings-in-office-area-2474260779.jpg");
    background-size: 100% 100%;
    height: 100%;
}

#review-container{
    width: 50%;
    height: 100%;
    margin: auto;
    background-color: white;
}

.review-item{
    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
}

.image-text-description {
    display: flex;
    height: auto;
    width: 100%;
}
   
.image-text-description span:nth-child(2) {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

