.center-text{
    text-align: center;
}

.white-text{
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

*{
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

