.center-text{
    text-align: center;
}

.white-text{
    color: white;
}

.bold {
    font-weight: bold;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

main{
    width: 100%;
    min-height: 100vh;
    margin-top: 1%;
    margin-bottom: 1%;
}

